{#
    URL: /profiles
    Description: 
#}

{% extends "sidebarLayout.html" %}
{% block title %}Nutzersuche{%endblock%}

{% block content %}
    <form method="get">
        <label>Nutzer-Suche</label>
        <input type="text" placeholder="Nutzername" name="username" value="{{request.args.get('username', '')}}">
        <input type="submit" value="Suchen"/>
    </form>

    {%if request.args.get('username')%}
        {%if users.total <= 0%}
            <p> Es gibt keinen Nutzer mit einem Namen wie "{{request.args.get('username')}}" </p>
        {%endif%}
    {%endif%}

    {%for usr in users.items%}
        <a href="p/{{usr.username}}"> {{usr.getName()}} </a><br/>
    {%endfor%}

    {%if users.pages > 1 %}
    <hr/>
    <ul class="pagination">
        {% for page in users.iter_pages() %}
        {%if page%}
        <li><a class="page-link" href="?page={{page}}">{{page}}</a></li>
        {%else%}
        ...
        {%endif%}
        {% endfor %}
    </ul>
    {%endif%}

{%endblock%}
