{#
    URL: /profiles
    Description: 
#}

{% extends "sidebarLayout.html" %}
{% block title %}Nutzersuche{%endblock%}

{% block content %}
<div class="profile-search">
<h1>Nutzer-Suche:</h1>

    <form method="get" class="display-flex input-group w-50">
        
        <input class="form-control" type="text" placeholder="Nutzername" name="username" value="{{request.args.get('username', '')}}">
        <input class="btn btn-primary" type="submit" value="Suchen"/>
    </form>

    {%if users.total>0%}
    {%for usr in users.items%}
            <div class="user-search">
                <a class="btn btn-outline-info border-0 w-25 h-auto" href="p/{{usr.username}}"> {{usr.getName()}} </a><br/>
            </div>
    {%endfor%}
    {%if users.pages > 1 %}
    <hr/>
    <ul class="pagination d-flex justify-content-center">
        {% for page in users.iter_pages() %}
        {%if page%}
        <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
        {%else%}
        <li class="page-item"><a class="page-link">...</a></li>
        {%endif%}
        {% endfor %}
    </ul>
    {%endif%}

</div>
{%endblock%}
