{#
    URL: /profile/<user>
    Description: Displays user details
#}

{% extends "sidebarLayout.html" %}
{% block title %}Nutzerprofil{%endblock%}

{% block content %}
<div class="profile-search">
{% if searchUser %}
<h1>Nutzer: {{searchUser.getName()}}</h1>
<div class="picture">
    {% from "img/profile_images.html" import profile_img with context %}
    {{ profile_img(searchUser) }}
</div>

<p></p>
        Name:
        {{searchUser.getName()}}

{% else %}
<h1>User not found</h1>
<p> Dieser Nutzer scheint nicht zu existieren </p>
{% endif %}
</div>
{%endblock%}
