{#
    URL: /home/userconfig/
    Description: Allows the user to config his profile
#}

{% extends "sidebarLayout.html" %}
{% block title %}Eigenes Profil{%endblock%}

{% block content %}
<div class="userconfig">
<h1>Eigenes Nutzerprofil</h1>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

<p>
    <lable>Profilbild: </lable>
    <div class="profile"><img src="{{ user.getProfileImagePath() }}" /></div>
    <a class="btn btn-outline-primary" href="{{ url_for('upload_form', type='usr', id=user.id) }}" onclick="open_wnd(this.href); return false">Ändern</a>
</p>

<form method="post" action="{{ this_url }}" class="display-flex input-group w-50 justify-content-center">
        <span class="input-group-text">Benutzername:</span>
        <input class="form-control" type="text" value="{{ user.username }}" name="txtname" required> 
        <input class="btn btn-primary form-control" type="submit" name="name" value="Namen ändern"> 
</form>
<p></p>


<form method="post" action="{{ this_url }}" class="display-flex input-group w-50">
        <span class="input-group-text">Angezeigter Name:</span>
        <input class="form-control" type="text" value="{{ user.getName() }}" name="txtdispl_name" required> 
        <input class="btn btn-primary form-control" type="submit" name="displ_name" value="Anzeigenamen ändern"> 
</form>
<p></p>

<form method="post" action="{{ this_url }}">
    <div class="input-group w-50 display-flex">
    <span class="input-group-text">Altes Passwort:</span>
    <input class="form-control" type="password" name="old" required>
    </div>
    <div class="input-group w-50 display-flex">
        <span class="input-group-text">Neues Passwort:</span>
        <input class="form-control" type="password" name="new" required>
    </div>
    <div class="input-group w-50 display-flex">
        <span class="input-group-text">Bestätigung des Neuen</span>
        <input class="form-control" type="password" name="ver_new" required>
        <input class="btn btn-primary form-control" type="submit" name="pw" value="Passwort ändern!">
    </div>
    <p></p>
</form>

<form method="post" action="{{ this_url }}" class="display-flex input-group w-50">
    <span class="input-group-text">Timeout</span>
    <input class="form-control" type="number" min="5" max="10080" step="1" name="timeout" value="{{ timeout }}" required> 
    <span class="input-group-text">Minuten</span>
    <input class="btn btn-primary" type="submit" value="Timeout ändern">
</form>
</div>
{%endblock%}