{#
    URL: /home/userconfig/
    Description: Allows the user to config his profile
#}

{% extends "sidebarLayout.html" %}
{% block title %}Eigenes Profil{%endblock%}

{% block content %}

<h1>Eigenes Nutzerprofil</h1>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

<p>
    <lable>Profilbild: </lable>
    {% if imgurl %}
    <img src="{{ imgurl }}" class="profile_image" />
    <a href="{{ url_for('upload_form', type='usr', id=user.id) }}" onclick="open_wnd(this.href); return false">Ändern</a>
    {% else %}
    <a href="{{ url_for('upload_form', type='usr', id=user.id) }}" onclick="open_wnd(this.href); return false">Bild hochladen</a>
    {% endif %}
</p>

<form method="post" action="{{ this_url }}">
    <p> <label>Benutzername:</label> <input type="text" value="{{ user.username }}" name="txtname" required> <input type="submit" name="name" value="Namen ändern!"> </p>
</form>

<form method="post" action="{{ this_url }}">
    <p> <label>angezeigter Name:</label> <input type="text" value="{{ user.getName() }}" name="txtdispl_name" required> <input type="submit" name="displ_name" value="Namen ändern!"> </p>
</form>

<form method="post" action="{{ this_url }}">
    <p>
        <table border="0">
            <tr><td width="40%"><label>altes Passwort:</label></td><td><input type="password" name="old" required></td></tr>
            <tr><td width="40%"><label>neues Passwort:</label></td><td><input type="password" name="new" required></td></tr>
            <tr><td width="40%"><label>Bestätigung des Neuen:</label></td><td><input type="password" name="ver_new" required></td></tr>
            <tr><td><input type="submit" name="pw" value="Passwort ändern!"></td></tr>
        </table>
    </p>
</form>

<script>
    function open_wnd(url) {
            wnd = window.open(url, "Bild hochladen", "width=600,height=400,status=yes,scrollbars=yes,resizable=yes");
            wnd.focus();
        }
</script>

{%endblock%}