{#
    URL: /profile/<user>
    Description: Displays user details
#}

{% extends "defaultLayout.html" %}
{% block title %}Nutzerprofil{%endblock%}

{% block content %}

{% if searchUser %}
<h1>{{searchUser.getName()}}</h1>

<img src="{{ searchUser.getProfileImagePath() }}" class="profile_image" />

<table>
    <tr>
        <td>Name</td>
        <td>{{searchUser.getName()}}</td>
    </tr>
    <tr>
        <!-- TODO: Userdescription -->
    </tr>
</table>

{% else %}
<h1>User not found</h1>
<p> Dieser Nutzer scheint nicht zu existieren </p>
{% endif %}
    
{%endblock%}
