{#
    URL: /
#}

{% extends "sidebarLayout.html" %}
{% block title %}Home{%endblock%}

{%block content%}
<div>
    <center>
        <img src="{{url_for('static', filename='logo.png')}}" style="width: 50%; height: auto;">
        <h1 style="font-size: 400%;">Herzlich Willkommen bei Intectainment!</h1>

        <div style="font-size: 200%">
            {%if user%}
            <a href="{{url_for('gui.dashboard')}}">Übersicht</a>: Dein indivdueller Feed
            <br>
            {%endif%}

            <a href="{{url_for('gui.discover')}}">Entdecken</a>: Neue Kanäle und Posts finden
            <br>

            {%if user%}
            <a href="{{url_for('gui.handle_subscriptions')}}">Abonnierte Kanäle</a>: Deine Lieblingskanäle
            <br>

            <a href="{{url_for('gui.favorites')}}">Favoriten</a>: Die Posts, die du dir merken wolltest
            <br>
            {%endif%}

            <a href="{{url_for('gui.start')}}">Start</a>: zurück zum Start
        </div>
        
    </center>
</div>
{%endblock%}