{% extends "defaultLayout.html" %}
{% block title %}Login{%endblock%}

{% block content %}
<p>Hallihallo, logge dich bitte ein</p>

{%if force%}
    <p> Du musst dich einloggen um das zu machen! </p>
{%endif%}

<form method="post" action="{{url_for('interface.login')}}">
    <label>Login</label>
    <input type="text" placeholder="Nutzername" name="username" required/>
    <input type="password" placeholder="Passwort" name="password" required/>
    {% if redirect%}
    <input type="hidden" name="redirect" value="{{url_for(redirect)}}"/>
    {%endif%}
    <input type="submit"/>
</form>
{%endblock%}
