{% extends "defaultLayout.html" %}
{% block title %}Login{%endblock%}

{% block content %}
<p></p>

{%if force%}
    <p> <h1>Du musst dich einloggen um das zu machen! <h1></p>
{%endif%}

<form method="post" action="{{url_for('interface.login')}}" class="input-group">
    <input class="form-control" type="text" placeholder="Nutzername" name="username" required/>
    <input class="form-control" type="password" placeholder="Passwort" name="password" required/>
    {% if redirect%}
    <input type="hidden" name="redirect" value="{{url_for(redirect)}}"/>
    {%endif%}
    <input class="btn btn-primary form-control" type="submit"/>
</form>
{%endblock%}
