{#
    URL: /
#}

{% extends "defaultLayout.html" %}
{% block title %}Start{%endblock%}

{% block content %}
<p>Hallihallo, logge dich bitte ein</p>

{%if user%}
    <p> Hallo, {{user.getName()}} </p>
{%else%}
    <p>Hallo Fremder, piss dich oder meld dich an</p>
{%endif%}


<form method="post" action="{{url_for('interface.login')}}">
    <label>Login</label>
    <input type="text" placeholder="Nutzername" name="username" required/>
    <input type="password" placeholder="Passwort" name="password" required/>
    <input type="hidden" name="redirect" value="{{url_for(request.endpoint)}}"/>
    <input type="submit"/>
</form>

<form method="post" action="{{url_for('interface.logout')}}">
    <label>Logout</label>
    <input type="submit" value="Logout"/>
</form>

{%endblock%}
