
{#
    URL: /
#}

{% extends "defaultLayout.html" %}
{% block title %}Start{%endblock%}

{% block content %}

<div>
    <center>
        <img src="{{url_for('static', filename='logo.png')}}" style="width: 80%; height: auto; padding: 5%;">
        <h1 style="font-size: 500%;"> Entdecke dein <span style="color:#007572;">Unternehmen</span> neu. </h1>
        <p style="font-size: 200%; padding-right: 17%;">Dies ist ein Ort für neuen <span style="color:#00706c;">Austausch</span>.</p>
        <p style="font-size: 210%;">Für neues <span style="color:#005a56;">Entdecken</span>.</p>
        <p style="font-size: 220%;">Für mehr <span style="color:#004743;">Intectainment</span>.</p>

        <hr/>
        {% if not user %}
        <p style="font-size: 200%;">Melde dich an</p>
        <form method="post" action="{{url_for('interface.login')}}" style="font-size: 110%;">
            <input type="text" placeholder="Nutzername" name="username" required/>
            <input type="password" placeholder="Passwort" name="password" required/>
            <input type="hidden" name="redirect" value="{{url_for('gui.home')}}"/>
            <input type="submit" value="Anmelden"/>
        </form>
        <p style="font-size: 160%;">Oder browse <a href="{{url_for('gui.home')}}" >ohne Account</a></p>
        {% else %}
         <p style="font-size: 160%;">Genieße <a href="{{url_for('gui.home')}}" style="color:#004743;">Intectainment</a></p>
        {% endif %}
    </center>
</div>
{%endblock%}






