
{#
    URL: /
#}

{% extends "defaultLayout.html" %}
{% block title %}Start{%endblock%}

{% block content %}
<div>
    <h1> Intectainment ist cool und so </h1>

    <p>Melde dich an um kuhle Sachen zu machen</p>
    <form method="post" action="{{url_for('interface.login')}}">
        <label>Login</label>
        <input type="text" placeholder="Nutzername" name="username" required/>
        <input type="password" placeholder="Passwort" name="password" required/>
        <input type="hidden" name="redirect" value="{{url_for('gui.home')}}"/>
        <input type="submit"/>
    </form>
</div>
{%endblock%}






