{#
URL: /channel/(channel)
Description: Displays channel details
#}

{% extends "defaultLayout.html" %}
{% block title %}Kanalansicht{%endblock%}
{% from "img/profile_images.html" import profile_img with context %}

{% block content %}
{% if channel%}
<div class="channelsettings-head justify-content-start shadow">
    <a class="btn btn-outline-primary ms-5 shadow" href="{{url_for('gui.channelView', channel=channel.name)}}"><i class="bi bi-arrow-left"></i> Zurück zum Kanal</a>
    <h1 class="channelsettings-mid">{{channel.name}}</h1>
    
</div>

<div class="channelsettings-body">
    <div class="settings-categories">
        <div class="categories">Kategorien: </div>
        <div class="text-right">{% if channel.categories | length > 0 %}
            {%for cat in channel.categories %}
            <form method="POST">
                {{cat.name}}
                <input class="btn btn-outline-danger btn-sm list-margin shadow" type="submit" name="deleteCategory"
                    value="Löschen" />
                <input type="hidden" name="category" value="{{cat.name}}" />
            </form>
            {%endfor%}
            {%else%}
            keine
            {%endif%}
        </div>

        <div class="add-categories">
            <form method="POST" class="input-group mb-3 w-auto shadow">

                <input class="form-control w-auto" list="categories" placeholder="Kategorie" name="category" />
                <datalist id="categories">
                    {% for cat in categories %}<option class="dropdown-item" value="{{cat.name}}">{% endfor %}
                </datalist>
                <input class="btn btn-outline-primary" type="submit" name="addCategory" value="Hinzufügen" />

            </form>
        </div>
    </div>
    <hr />

    <div class="settings-description">

        <form method="POST" class="input-group mb-3 shadow">
            <div class="input-group-text">
                Beschreibung:
            </div>
            <input class="form-control description-ta" type="text" name="description" placeholder="Beschreibung"
                value="{{channel.description or ''}}" />
            <input class="btn btn-outline-primary" type="submit" name="changeDescription" value="Bestätigen" />
        </form>
    </div>

    <hr />

    <div class="settings-picture">
        {{ profile_img(channel) }}
        <a class="btn btn-outline-primary change-picture shadow" href="{{ url_for('upload_form', type='c', id=channel.id) }}"
            onclick="open_wnd(this.href); return false">Kanalbild ändern</a>
    </div>
</div>




{% else %}
<h1></h1>
<p> Dieser Kanal scheint nicht zu existieren </p>
{% endif %}
{%endblock%}