{#
    URL: /channels
    Description:
#}

{% extends "defaultLayout.html" %}
{% block title %}Nutzersuche{%endblock%}

{% block content %}
    <form method="get">
        <label>Nutzer-Suche</label>
        <input type="text" placeholder="Kanalname" name="channelname" required/>
        <input list="categories" name="category"/>
        <datalist id="categories">
            {%if categories%}
                {%for category in categories%}
                    <option value="{{category.name}}"/>
                {%endfor%}
            {%endif%}
        </datalist>


        <input type="submit" value="Suchen"/>
    </form>

    {%if channels%}
        {%if users%}
            <p> Gefundene Nutzer ({{users|length}}): </p>
            {%for user in users%}
                <a href="p/{{user.username}}"> {{user.getName()}} </a><br/>
            {%endfor%}
        {%else%}
            <p> Es gibt keinen Nutzer mit einem Namen wie "{{request.args.get('username')}}" </p>
        {%endif%}
    {%endif%}
{%endblock%}
