{#
    URL: /channels
    Description:
#}

{% extends "defaultLayout.html" %}
{% block title %}Kanalsuche{%endblock%}

{% block content %}
    <form method="get">
        <label>Nutzer-Suche</label>
        <input type="text" placeholder="Kanalname" name="channelname"/>
        <input list="categories" placeholder="Kategorie" name="category"/>
        <datalist id="categories">
            {%if categories%}
                {%for category in categories%}
                    <option value="{{category.name}}"/>
                {%endfor%}
            {%endif%}
        </datalist>


        <input type="submit" value="Suchen"/>
    </form>
    {%if channels%}
        {%if channels|length>0%}
            <p> Gefundene Kanäle ({{channels|length}}): </p>
            {%for channel in channels%}
                <a href="c/{{channel.name}}"> {{channel.name}} </a><br/>
            {%endfor%}
        {%else%}
            <p> Es wurden keine Kanäle gefunden </p>
        {%endif%}
    {%endif%}
{%endblock%}
