{#
    URL: /channel/(channel)
    Description: Displays channel details
#}

{% extends "defaultLayout.html" %}
{% block title %}Kanalansicht{%endblock%}

{% block head %}
  {{super()}}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/postStyle.css') }}">
  <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.1/dist/showdown.min.js"></script>
{% endblock %}

{% block content %}
{{super()}}
{%endblock%}

{% block maincontent%}

<div class="channelinfo bg-dark text-white">
<h1>{{channel.name}}</h1>

    {% if channel.description %}
    <p>{{channel.description}}</p>
    {%endif%}

    {% if canModify %}
    <a href="{{url_for('gui.channelSettings', channel=channel.name)}}">Einstellungen</a>
    {% endif %}
    {% if user %}
        <form method="post">
            <input type="submit" name="subscr" value="Abbonieren">
            <input type="submit" name="desubscr" value="Deabbonieren">
        </form>
    {% endif %}

    <a href="{{url_for('gui.channelSettings', channel=channel.name)}}">Einstellungen</a>

</div>
{%if posts.total > 0 %}
<div class="postcontainer bg-dark">
    <hr/>
    <!-- Latest posts -->
    {% for post in posts.items %}

            <!--
            <a href="{{url_for('gui.postView', postid=post.id)}}">
                Post
            </a>
            {%set content = post.getContent()%}
            <div class="postContent">
                {{post.getContent()[:100]}}{%if content | length > 100%}...{%endif%}
            </div>
            -->


            <div class="card bg-black text-white post-margin" style="width: 12rem;" id="touch">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Überschrift</h5>
                  <p class="card-text">{{post.getContent()[:100]}}{%if content | length > 100%}...{%endif%}</p>
                  <a href="{{url_for('gui.postView', postid=post.id)}}" class="btn btn-outline-primary">Zum Post</a>
                </div>
            </div>




    {%endfor%}


</div>

{%else%}
    <div class="nopostcontainer text-white bg-dark">Kein Post auf diesem Kanal</div>
{%endif%}

{%endblock%}

{% block js %}
<script>
    var converter = new showdown.Converter();
    var contents = document.getElementsByClassName('postContent');

    for (var i = 0; i < contents.length; i++) {
        var target = contents.item(i);
        target.innerHTML = converter.makeHtml(target.innerHTML);
    }
  </script>
{%endblock%}