{#
    URL: /channels/new
    Description:
#}

{% extends "defaultLayout.html" %}
{% block title %}Kanalsuche{%endblock%}

{% block content %}
    <h1>Kanalerstellung</h1>

    {# Kanal existiert schon? #}
    {%if error%}{{error}}{%endif%}
    <div class="channel-creator">
    <form method="POST" class="input-group">
        <span class="input-group-text"><a href="{{url_for('gui.discover')}}">Zurück</a></span>
        <input class="form-control w-auto" type="text" placeholder="Name" name="name" required/>
        <input class="btn btn-outline-primary form-control" type="submit" value="Neuen Kanal erstellen" />
    </form>

    {% if isMod %}
        <a href="{{url_for('gui.newRss')}}">neuer RSS-link Channel</a>
    {%endif%}
</div>
{%endblock%}
