{#
    URL: /channel/(channel)
    Description: Displays channel details
#}

{% extends "sidebarLayout.html" %}
{% block title %}Kanalansicht{%endblock%}

{% block head %}
  {{super()}}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/postStyle.css') }}">
  <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.1/dist/showdown.min.js"></script>
{% endblock %}

{% block content %}
{{super()}}
<div class="channelinfo bg-dark text-white">
<h1>{{channel.name}}</h1>

    {% if channel.description %}
    <p>{{channel.description}}</p>
    {%endif%}

    {% if canModify %}
    <a href="{{url_for('gui.channelSettings', channel=channel.name)}}">Einstellungen</a>
    {% endif %}

    {% if user %}
        <form method="post">
            {% if subscribed %}<input type="submit" name="desubscr" value="Deabbonieren">
            {% else %}<input type="submit" name="subscr" value="Abbonieren">
            {% endif %}
        </form>
    {% endif %}

    {% if user %}
    <a href="{{url_for('gui.createPost', channel=channel.name)}}"><i class="bi bi-plus-square"></i></a>
    {% endif %}


</div>
{%if posts.total > 0 %}
<div class="postcontainer bg-dark">
    <hr/>
    <!-- Latest posts -->
    {% for post in posts.items %}
            <div class="card bg-black text-white post-margin" style="width: 12rem;" id="touch">
                <div class="card-text postContent">
{% for line in post.getContentLines()[:5]%}{{line}}{%endfor%}
                </div>
                <a href="{{url_for('gui.postView', postid=post.id)}}" class="btn btn-outline-primary">Zum Post</a>
            </div>
    {%endfor%}
    
    
</div>
{%if posts.pages > 1 %}
    <hr/>
    {% for page in posts.iter_pages() %}
        {%if page%}
            <a href="?page={{page}}">{{page}}</a>
        {%else%}
            ...
        {%endif%}
    {% endfor %}
    {%endif%}
{%else%}
    <div class="nopostcontainer text-white bg-dark">Kein Post auf diesem Kanal</div>
{%endif%}
{%endblock%}

{% block js %}
<script>
    var converter = new showdown.Converter();
    var contents = document.getElementsByClassName('postContent');

    for (var i = 0; i < contents.length; i++) {
        var target = contents.item(i);
        target.innerHTML = converter.makeHtml(target.innerHTML);
    }
  </script>
{%endblock%}