{#
    URL: /channels/new
    Description:
#}

{% extends "defaultLayout.html" %}
{% block title %}Kanalsuche{%endblock%}

{% block content %}
   
<div class="channelcreation-head justify-content-start shadow">
    <div>
        <a href="{{url_for('gui.discover')}}"><button class="btn btn-outline-primary shadow ms-5"><i class="bi bi-arrow-left"></i> Zurück</button></a>
    </div>
    <h1 class="channelcreation-mid">RSS-Link Kanalerstellung</h1>
    {% if isMod %}
        <a href="{{url_for('gui.newRss')}}" class="btn btn-outline-primary shadow me-5">Neuer RSS-Channel</a>
    {%endif%}
</div>
<div class="channelcreation-body justify-content-center pb-4">



    

    {# Kanal existiert schon? #}
    {%if error%}{{error}}{%endif%}
    
    <!-- <form method="POST" class="input-group shadow">
        <input class="form-control" type="text" placeholder="Name" name="name" required/>
        <span><input class="btn btn-outline-primary" type="submit" value="Neuen Kanal erstellen" /></span>
    </form> -->

    <form method="POST" class="input-group shadow">
        <input class="form-control w-auto" type="text" placeholder="Name" name="name" required/>
        <input class="form-control w-auto" type="text" placeholder="RSS-URL" name="rss-url" required/>
        <input class="btn btn-outline-primary form-control" type="submit" value="Neuen Kanal erstellen" />
    </form>

    
</div>
{%endblock%}
