{% extends "admin/adminLayout.html" %}
{% block title %}Admin Interface{%endblock%}

{% block content %}
<div class="admin-div">
    <h1><p>Admininterface</p></h1>
        <a class="btn btn-outline-primary margin-admin" href="{{url_for('gui.admin.userconfig')}}">Benutzer Konfiguration</a>
        <a class="btn btn-outline-primary margin-admin" href="{{url_for('gui.admin.setup')}}">Starthilfe</a>
        <a class="btn btn-outline-primary margin-admin" href="{{url_for('gui.home')}}">Zurück nach Home</a>
</div>
{%endblock%}
