{% extends "admin/adminLayout.html" %}
{% block title %}Anfangshilfen{%endblock%}

{% block content %}
    <div>
        <h1><p>Testdatensätze</p></h1>
        <form method="POST" class="input-group">
            <span class="input-group-text">Testdatensätze einfügen</span>
            <input class="btn btn-primary form-control" type="submit" name="createDefault"/>
        </form>
    </div>
    <a class="btn btn-outline-primary margin-admin" href="{{url_for('gui.admin.main')}}">Zurück</a>

{%endblock%}
