{% extends "admin/adminLayout.html" %}
{% block title %}Nutzerprofilbearbeitung{%endblock%}

{% block content %}
<div class="singel-user-config-div">
<a class="btn btn-outline-primary" href="{{ url_for('gui.admin.userconfig') }}">Zurück zur Benutzerübersicht</a>
<h1>Nutzerprofil von {{ edit_user.getName() }}</h1>

<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<div class="single-user-config">
{% from "img/profile_images.html" import profile_img with context %}
{{ profile_img(edit_user) }}
</div>

<form method="post" action="{{ this_url }}">
    <p> <input class="btn btn-outline-primary" type="submit" name="del_image" value="Profilbild löschen"> </p>
</form>

<form method="post" action="{{ this_url }}" class="input-group">
        <label class="input-group-text">Benutzername:</label>
        <input class="form-control" type="text" value="{{ edit_user.username }}" name="txtname" required>
        <input class="btn btn-primary form-control" type="submit" name="name" value="Namen ändern">
</form>
<p></p>

<form method="post" action="{{ this_url }}" class="input-group">
        <label class="input-group-text">angezeigter Name:</label>
        <input class="form-control" type="text" value="{{ edit_user.getName() }}" name="txtdispl_name" required>
        <input class="btn btn-primary form-control" type="submit" name="displ_name" value="Namen ändern">
</form>
<p></p>

<form method="post" action="{{ this_url }}">
    <div class="input-group">
            <label class="input-group-text">Neues Passwort:</label>
            <input class="form-control" type="password" name="new" required>
        </div>
        <div class="input-group">
            <label class="input-group-text">Bestätigung des Neuen:</label>
            <input class="form-control" type="password" name="ver_new" required>
            <input class="btn btn-primary form-control" type="submit" name="pw" value="Passwort ändern">
        </div>
</form>

<form method="post" action="{{ this_url }}">
    <p>
        <lable><h3>Zugriffslevel: <lable id="level_name"></lable></h3></lable>

    </p>
    <p>
        <div class="input-group">
        <input class="form-control" type="number" min="0" max="255" value="10" id="level" name="level">
        <input type="range" min="0" max="255" step="1" value="{{ edit_user.permission }}" id="level_slider">
        <input class="btn btn-primary form-control" type="submit" name="submit_level" value="Ändern">
        </div>
    </p>
</form>

</div>

<script type="text/JavaScript">
    var slider = document.getElementById("level_slider");
    var output = document.getElementById("level");

    output.value = slider.value;

    function write_lable() {
        var txt = "Gast";
        if (output.value >= 10 && output.value < 100) txt = "Benutzer";
        else if (output.value >= 100 && output.value < 255) txt = "Moderator";
        else if (output.value >= 255) txt = "Administrator";
        document.getElementById("level_name").innerHTML = txt;
    }

    write_lable();

    slider.oninput = function() {
      output.value = this.value;
      write_lable();
    }

    output.oninput = function() {
      slider.value = this.value;
      write_lable();
    }
</script>

{%endblock%}
