{% extends "admin/adminLayout.html" %}
{% block title %}Nutzereinstellung{%endblock%}

{% block content %}
    <p>Hallihallo, das ist die Benutzerkonfigurationsseite</p>
    

    {# Erstellen von Nutzern #}
    <hr/>
    <label>Benutzer erstellen</label>
    {%if createUser == "success"%}
        <p>Nutzer {{userName}} erfolgreich erstellt</p>
    {%elif createUser == "fail"%}
        <p>Nutzer konnte nicht erstellt werden ({{error}})</p>
    {%endif%}
    <form method="POST">
        <input type="text" name="username" placeholder="Username" required/>
        <input type="password" name="password" placeholder="Passwort" required/>
        <!--input type="email" name="email" placeholder="E-Mail" required/-->
        <input type="submit" name="createUser" value="Erstellen"/>
    </form>

    <hr/>
    <label> Benutzer anzeigen </label>
    <form method="post">
        <input type="text" name="queryname" placeholder="Namens Abfrage"/>
        <input type="submit" name="queryUser" value="Suchen"/>
    </form>
    {%if users!=None%}
        {%if users|length > 0%}
        <table>
            <tr><th>Name</th></tr>
        {%for user in users%}
            <tr><td><a href="{{url_for('gui.admin.edit_user', usrid=user.id)}}">{{user.getName()}}</a></td></tr>
        {%endfor%}
        </table>
        {%else%}
            <p>Keine Nutzer gefunden</p>
        {%endif%}
    {%endif%}
{%endblock%}
