{#
    URL: /showPost
  #}
  
  {% extends "defaultLayout.html" %}
  {% block title %}Post bearbeiten{% endblock %}
  
  {% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/postStyle.css') }}">
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.9.0/dist/showdown.min.js"></script>
  {% endblock %}
  
  {% block content %}
    <div class="edit-post-header">
        <h3>Post Editor</h3>
       
    </div>

    <form method="POST">
        <!-- post area -->
        <div class="forms">
          <textarea class="form-control w-50 p-3 post-ta" name="content" id="conent" oninput="run()">
          {{post.getContent()}}
          </textarea>
          <!-- vorschau des posts -->
          <div id="rendert" class="preview form-control"></div>
        </div>
        <div>
          <input class="btn btn-primary edit-post-button" type="submit" name="update" value="Updaten"></input>
          <input class="btn btn-primary edit-post-button" type="submit" name="exit" value="Abbrechen"/>
		  <a href="http://{{ server }}/upload/tmp/{{ postid }}/" onclick="open_wnd(this.href); return false">Bild hochladen</a>
        </div>
    </form>

    <script>
        function open_wnd(url) {
            wnd = window.open(url, "Bild hochladen", "width=600,height=400,status=yes,scrollbars=yes,resizable=yes");
            wnd.focus();
        }

        function run() {
            var text = document.getElementById('conent').value,
            target = document.getElementById('rendert'),
            converter = new showdown.Converter({tables: true, strikethrough: true, tasklists: true}),
            html = converter.makeHtml(text);

            target.innerHTML = html;
        }
        run();
    </script>
  {% endblock %}