{#
    URL: /showPost
  #}

  {% extends "defaultLayout.html" %}
  {% block title %}Neuer Post{% endblock %}
  
  {% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/postStyle.css') }}">
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.9.0/dist/showdown.min.js"></script>
  {% endblock %}
  
  {% block content %}
  <div class="edit-post-header">
    <h3>Post Erstellung</h3>

</div>

<form method="POST">
  <!-- post area -->
  <div class="forms">
    <textarea class="form-control bg-dark text-white p-3 post-ta" name="content" id="conent" oninput="run()">
# Neuer Post

Hier können Sie Posts erstellen.

**Markdown-Syntax:** [www.markdownguide.org](https://www.markdownguide.org/basic-syntax).</textarea>
    <!-- vorschau des posts -->
    <div id="rendert" class="preview bg-dark text-white form-control"></div>
  </div>
  <div>
    <input class="btn btn-primary edit-post-button" type="submit" value="Erstellen"></input>
    <input class="btn btn-primary edit-post-button" type="submit" name="exit" value="Abbrechen"/>
    <a class="btn btn-primary align-correct" href="{{url_for('upload_form', type='tmp', id=usrid)}}" onclick="open_wnd(this.href); return false">Bild hochladen</a>
  </div>
</form>
    <script>
        function open_wnd(url) {
            wnd = window.open(url, "Bild hochladen", "width=600,height=400,status=yes,scrollbars=yes,resizable=yes");
            wnd.focus();
        }

        function run() {
            var text = document.getElementById('conent').value,
            target = document.getElementById('rendert'),
            converter = new showdown.Converter({tables: true, strikethrough: true, tasklists: true}),
            html = converter.makeHtml(text);
    
            target.innerHTML = html;
        }
        run();
    </script>
  {% endblock %}
  




    
    