{#
URL: /showPost
#}

{% extends "defaultLayout.html" %}
{% block title %}Neuer Post{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/postStyle.css') }}">
<script src="https://cdn.rawgit.com/showdownjs/showdown/1.9.0/dist/showdown.min.js"></script>
{% endblock %}

{% block content %}
<div class="newpost-wrapper">
  <form method="POST">
  <div class="newpost-head shadow justify-content-center">
    <h1 class="newpost-h1">Post Erstellung</h1>
    <div class="newpost-buttons">
      <input class="btn btn-outline-success button-margin shadow" type="submit" name="create" value="Erstellen" />
      <input class="btn btn-outline-danger button-margin shadow" type="submit" name="exit" value="Abbrechen" />
      <a class="btn btn-outline-info button-margin shadow" href="{{url_for('upload_form', type='tmp', id=usrid)}}" onclick="open_wnd(this.href); return false">Bild hochladen</a>
    </div>
  </div>

  <div>
    

      <!-- post area -->
      <div class="d-flex newpost-body">
        <textarea class="form-control post-ta shadow" name="content" id="conent" oninput="run()">
# Neuer Post
  
Hier können Sie Posts erstellen.
  
**Markdown-Syntax:** [www.markdownguide.org](https://www.markdownguide.org/basic-syntax).
        </textarea>

        <!-- vorschau des posts -->
        <div id="rendert" class="preview form-control shadow">

        </div>
      </div>
    
  </div>
</form>
</div>





<script type="text/JavaScript">
        function run() {
            var text = document.getElementById('conent').value,
            target = document.getElementById('rendert'),
            converter = new showdown.Converter({tables: true, strikethrough: true, tasklists: true}),
            html = converter.makeHtml(text);
    
            target.innerHTML = html;
        }
        run();
    </script>
{% endblock %}