{#
  URL: /showPost
#}

{% extends "defaultLayout.html" %}
{% block title %}Post{%endblock%}

{% block head %}
  {{super()}}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/postStyle.css') }}">
  <script src="https://cdn.rawgit.com/showdownjs/showdown/1.9.0/dist/showdown.min.js"></script>
{% endblock %}

{% block content %}

<div class="offcanvas offcanvas-start w-auto p-3 bg-black" id="demo">
  <div class="offcanvas-body text-left">
    <form method="POST">
      {% if user %}
        {% if faved %}<button class="unstyle link-button text-left" type="submit" name="defav"><span class="bi bi-star big-icon text-left"> Unmerken</span></button>{%else%}<button class="unstyle link-button text-left" type="submit" name="fav"><span class="bi bi-star big-icon text-left"> Merken</span></button>{%endif%}
      {%endif%}
    <br>
    <a href="{{url_for('gui.channelView', channel=post.channel.name)}}"><span class="bi bi-person-circle big-icon text-left"> Kanal</span></a>
    <br>
    {%if canModify %}
    <a href="{{url_for('gui.postEdit', postid=post.id)}}"><span class="bi bi-pencil-square big-icon text-left"> Bearbeiten</span></a>
      <button class="unstyle link-button text-left" type="submit" name="delete"><span class="bi bi-trash big-icon"> Löschen</span></button>
	{%endif%}
      </form>
  </div>
</div>

<div class="container-fluid mt-3">
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
    <i class="bi bi-list"></i>
  </button>
</div>
  <p>{{timeMessage}}</p>

  {# mark post as favorite #}


  <div class="show-post bg-dark" id="postConent">{{post.getContent()}}</div>

  <script type="text/JavaScript">
    var target = document.getElementById('postConent');
    var converter = new showdown.Converter({tables: true, strikethrough: true, tasklists: true});
    target.innerHTML = converter.makeHtml(target.innerHTML);
  </script>
{%endblock%}

{% block js %}
<script>

</script>
{%endblock%}
