{#
  URL: /showPost
#}

{% extends "defaultLayout.html" %}
{% block title %}Post{%endblock%}

{% block head %}
  {{super()}}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/postStyle.css') }}">
  <script src="https://cdn.rawgit.com/showdownjs/showdown/1.9.0/dist/showdown.min.js"></script>
{% endblock %}

{% block content %}
<div class="offcanvas offcanvas-start" id="demo">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title">Heading</h1>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <p>Some text lorem ipsum.</p>
    <p>Some text lorem ipsum.</p>
    <p>Some text lorem ipsum.</p>
    <button class="btn btn-secondary" type="button">A Button</button>
  </div>
</div>

<div class="container-fluid mt-3">
  <h3>Offcanvas Sidebar</h3>
  <p>Offcanvas is similar to modals, except that it is often used as a sidebar.</p>
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
    Open Offcanvas Sidebar
  </button>
</div>


  <p>Kanal: <a href="{{url_for('gui.channelView', channel=post.channel.name)}}"> {{post.channel.name}}</a> </p>
  <p>Bearbeiten: <a href="{{url_for('gui.postEdit', postid=post.id)}}">Bearbeiten</a></p>
  {%if user%}
    <form method="POST">
      {%if favorized%}
        <input type="submit" name="defavorize" value="Entfavorisieren" />
      {%else%}
        <input type="submit" name="favorize" value="Favorisieren" />
      {%endif%}
      {%if user.permission >= user.PERMISSION.MODERATOR%}
        <input type="submit" name="delete" value="Löschen" />
      {%endif%}
    </form>
  {%endif%}
  <hr/>

  {% if faved == 0%}
  <form action="{{ post.id }}/fav">
    <input type="submit" value="Merken ✅">
  </form>
  {%else%}
  <form action="{{ post.id }}/unfav">
    <input type="submit" value="Unmerken ❌">
  </form>
  {%endif%}

  

  <div id="postConent">
    {{post.getContent()}}
  </div>

  <script>
    var target = document.getElementById('postConent');
    converter = new showdown.Converter({tables: true, strikethrough: true, tasklists: true}),

    target.innerHTML = converter.makeHtml(target.innerHTML);
  </script>
{%endblock%}

{% block js %}
<script>

</script>
{%endblock%}
