/* style specally for markdown renders */

.postcontainer {
    overflow-y: auto;
    height: 78vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 2vh;
}

.nopostcontainer {
    height: 78vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: column;
    flex-direction: column;
}

.postcontainer::-webkit-scrollbar { 
    display: none;
}

.favourite-posts::-webkit-scrollbar { 
    display: none;
}

.post-margin {
    overflow-y: auto;
    margin-bottom: 4vh;
}

.channelinfo {
    height: 22vh;
    text-align: center;
    border-bottom: 1px solid darkgray;
    display: flex;
}

.channelinfo img {
    max-width: 65%;
    max-height: 65%;
}

.big-icon {
    font-size:26px;
    display: block;
    margin-top: 20px;
    text-align: center;
}

.text {
    display: inline;
}

.forms {
    display: flex;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.post-ta {
    word-wrap: break-word;
    max-height: 84vh;
    min-height: 84vh;
    min-width: 48vw;
}

.preview {
    max-width: 48vw;
    min-width: 48vw;
    word-wrap: break-word;
    margin-left: 10px;
    overflow-y: auto;
    max-height: 84vh;
    min-height: 84vh;
}
.edit-post-header {
    margin-left: 1vw;
    margin-top: 1vh;
}
.edit-post-button {
    margin-left: 1vw;
    margin-top: 1vh;
}

.post-content {
    max-width: 99vw;
    max-height:90vh;
    word-wrap: break-word;
    overflow-y: auto;
    margin-left: 1vw;
}

.menu-icon {
    font-size: 26px;
    position: absolute;
    right: 2vw;
    bottom: 1vh;
}

.styled-submit {
    border: none;
    background: none;
    margin: 0px;
    padding: 0px;
    width: 14vw;
    height: 8vh;
    position: absolute;
    bottom: 5vh;
    left: 0vw;
    text-align: left;
    color: blue;
    text-indent: 2px;
}

.bottom {
    float: bottom;
}

.bottom-sidebar {
    position: absolute;
    bottom: 5vh;
    left: 0vw;
    width: 14vw;
}

.inline-form {
    display: inline;
}

.unstyle {
    border: none;
    background: none;
    margin: 0px;
    padding: 0px;
}

.postContent img {
    max-width: 75%;
    max-height: 50%;
}

.show-post {
    max-width: 100vw;
    max-height: 79vh;
    overflow-y: auto;
    word-wrap: break-word;
}

.show-post img {
    max-height: 100%;
    max-width: 80%;
}

.text-left {
    text-align: left;
    float: left;
}

.link-button {
    color: blue;
}

a {
    text-decoration: none;
}

.container {
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    
}

.main-content {
    overflow: hidden;
    text-align: center;
}

.align-correct {
    margin-top: 1vh;
    margin-left: 1vw;
}

.settings-categories {
    border-bottom: 1px solid darkgray;
    display: flex;
    padding-bottom: 2vh;
}

.settings-description {
    margin-top: 2vh;
}

.text-right {
    text-align: right;
    margin-left: 1vw;
}

.add-categories {
    margin-left: 1vw;
    padding-left: 1vw;
    border-left: 1px solid darkgray;
}

.list-margin {
    margin-bottom: 1vh;
}

.categories {
    padding-right: 1vw;
    border-right: 1px solid darkgray;
}

.description-ta {
    word-wrap: break-word;
}

.margin-description {
    margin-right: 1vw;
}

.settings-picture {
    padding-top: 1vh;
    border-top: 1px solid darkgray;
}

.channelinfo-buttons {
    text-align: right;
    float: right;
    font-size: 26px;
}

.channelinfo-info {
    word-wrap: break-word;
    max-width: 30vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.card-bottom {
    position: absolute;
    bottom: 0px;
    min-width: 100%;
}

.favourite-posts {
    overflow-y: auto;
    height: 100vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 2vh;
}

