/* style specally for markdown renders */

.postcontainer {
    display: flex;
    overflow-y: auto;
    flex-flow: row wrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    align-content: row;
    flex-direction: row;
    height: 80vh;
}

.nopostcontainer {
    height: 80vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: column;
    flex-direction: column;
}

.postcontainer::-webkit-scrollbar { 
    display: none;
}

.post-margin {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.channelinfo {
    height: 20vh;
    text-align: center;
    border-bottom: 1px solid darkgray;
}

.big-icon {
    font-size:26px;
    display: block;
    margin-top: 20px;
    text-align: center;
}

.text {
    display: inline;
}

.forms {
    display: flex;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.post-ta {
    word-wrap: break-word;
    max-height: 84vh;
}

.preview {
    max-width: 48vw;
    word-wrap: break-word;
    margin-left: 10px;
    overflow-y: auto;
    max-height: 84vh;
    min-height: 84vh;
}
.edit-post-header {
    margin-left: 1vw;
    margin-top: 1vh;
}
.edit-post-button {
    margin-left: 1vw;
    margin-top: 1vh;
}

.post-content {
    max-width: 99vw;
    max-height:90vh;
    word-wrap: break-word;
    overflow-y: auto;
    margin-left: 1vw;
}

.menu-icon {
    font-size: 26px;
    position: absolute;
    right: 2vw;
    bottom: 1vh;