@import url('//cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css');

.sidebar {
	height: 95vh;
	width: 12	vw;
	border-right: 1px solid darkgray;

	position: fixed;
	left: 0px;
	top: 0px;
}
a {
	text-decoration: none;
}
.sidebar-content {
	height: 95vh;
	width: 86vw;

	position: fixed;
	right: 0px;
	top: 0px;
}
.container {
	display: flex;
	justify-content: center;
}
#sidebar-block {
	height: 7vh;
}
#centered-button {
	margin-top: 0px;
	position: absolute;
}
.statusbar {
	border-top: 1px solid darkgray;
	height: 4vh;
	vertical-align: middle;
	text-align: center;
}
#touch {
	touch-action: none;
	user-select: none;
	transform: translate(0px, 0px);
}
.tabcontent {
	display: none;
	  height: 95vh;
	width: 86vw;
	position: fixed;
	right: 0px;
	top: 0px;
}
.firsttab {
	display: block;
}


.searchbar {
	height: 8vh;
	border-bottom: 1px solid darkgray;
}
.blog-entries {
	height: 87vh;
	width: 72%;
	overflow: auto;
	border-top: 1px solid darkgray;
}
.channels {
	height: 87vh;
	width: 28%;
	border-left:  1px solid darkgray;
	border-top: 1px solid darkgray;
	overflow: auto;
}
.content-container {
	display: flex;
	justify-content: center;
	height: 90vh;
	background: rgb(37, 37, 37);
}
.search {
	max-width: 150  px;
	vertical-align: middle;
}
.blog {
	width: 60%;
	height: 20%;
	border: 1px solid darkgray;
	position: relative;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}
.search {
	width: 200px;
	margin-bottom: 20px;
}
.centered-div {
	left:0px;
}
.left {
	width: 50px;
	display: flex;
	padding-top: 20px;
	padding-left: 20px;
	height: 12vh;
}
.search-button {
	margin-bottom: 20px;
}
.hey {
	background: rgb(37, 37, 37);
}
.temp {
	margin-left: 20px;
}
.content {
	background:red
}
.side-navbar {
  width: 180px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background: rgb(0,224,219);
  background: rgb(0,105,102);
  background: linear-gradient(110deg, rgba(0,105,102,1) 0%, rgba(0,31,30,1) 100%); 
  cursor: pointer;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}
.my-container {
  transition: 0.4s;
}
.active-nav {
  margin-left: 0;
}
/* for main section */
.active-cont {
  margin-left: 180px;
}
#menu-btn {
  background-color: #100901;
  color: #fff;
  margin-left: -62px;
}
.width {
	width: 14vw;
}