@import url('//cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css');

.profile {
    width: 20vw;
    height: 25vh;
    overflow: hidden;
    border-radius: 200px;
    -moz-border-radius: 200px;
	-webkit-border-radius: 200px;
}

.profile2 {
    width: 20vw;
    height: 25vh;
    overflow: hidden;
    border-radius: 200px;
    -moz-border-radius: 200px;
	-webkit-border-radius: 200px;
    margin-bottom: 1vh;
}

.profile-canvas {
    margin-top: 2vh;
}

.channel-profile {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 5px solid black;
}
.channel-profile img {
    max-width: 200px;
    max-height: 200px;
}

.no-decoration {
    text-decoration: none !important;
    color: black !important;
}

.sidebar {
	height: 100vh;
	width: 14vw;
	left: 0px;
	top: 0px;
    background: rgb(0, 81, 78);
    position: relative;
    z-index: 100;
}
.top-sidebar {
    background: rgb(1, 66, 64);
    height: 14vh;
    vertical-align: middle;
    
}

.bottom-sidebar-user {
    background: rgb(1, 66, 64);
    position: absolute;
    bottom: 5vh;
}
.bottom-sidebar-nouser {
    background: rgb(1, 66, 64);
    margin-top: 60vh;
}
.sidebar-content {
	height: 100vh;
	width: 86vw;
    background: white;
    color: black;
	right: 0px;
	top: 0px;
    position: relative;
    background: rgba(230, 230, 230, 0.2);
    z-index: 1000;
}
.main-wrapper {
    max-height: 100vh;
    width: 100vw;
    overflow: auto;
    display: flex;
}
#sidebar-block {
	height: 7vh;
}
#centered-button {
	margin-top: 0px;
	position: absolute;
}
.statusbar {
	border-top: 1px solid darkgray;
	height: 4vh;
	vertical-align: middle;
	text-align: center;
    background: white;
}
#touch {
	touch-action: none;
	user-select: none;
	transform: translate(0px, 0px);
}
.tabcontent {
	display: none;
	height: 95vh;
	width: 86vw;
	position: fixed;
	right: 0px;
	top: 0px;
}
.firsttab {
	display: block;
}


.searchbar {
	height: 8vh;
	border-bottom: 1px solid darkgray;
}
.blog-entries {
	height: 87vh;
	width: 72%;
	overflow: auto;
	border-top: 1px solid darkgray;
}
.channels {
	height: fit-content;
    max-height: 100%;
	width: fit-content;
	overflow: auto;
	text-align: center;
    justify-content: center;
    margin: auto;
    padding-right: 20vw;
    padding-left: 20vw;
}
.channels a {
	text-decoration: none;
}
.content-container {
	justify-content: center;
	height: 88vh;
    background: white;
    background: rgba(230, 230, 230, 0.2);
}
.search {
	vertical-align: middle;
    height: fit-content;
}
.blog {
    height: 25vh;
    width: 44vw;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 4vh;
    z-index: 5;
}

.blog:hover {
    border: 1px solid rgba(160, 160, 160, 0.2);
    border-radius: 5px;
    background: white;
    box-shadow: 2vw 2vh 2vw 1vw rgba(160, 160, 160, 0.2);
}

.blog:hover .custom-button {
    background: rgb(0, 81, 78) !important;
    color: white !important;
}

.blog a {
	text-decoration: none;
}

.search {
    height: fit-content;
	position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}
.centered-div {
	left:0px;
}
.search-button {
    height: fit-content;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}
.temp {
	margin-left: 20px;
}
.content {
	background: white;
}
.side-navbar {
  background: rgb(0,224,219);
  background: rgb(0,105,102);
  background: linear-gradient(110deg, rgba(0,105,102,1) 0%, rgba(0,31,30,1) 100%);
  cursor: pointer;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

.my-container {
  transition: 0.4s;
}
.active-nav {
  margin-left: 0;
}
/* for main section */
.active-cont {
  margin-left: 180px;
}
#menu-btn {
  background-color: #100901;
  color: #fff;
  margin-left: -62px;
}
.width {
	width: 14vw;
}

.discover-head {
	height: 12vh;
    background: rgba(0, 208, 255, 0.1);
    position: relative;
    z-index: 10;
}

.create-channel-button {
	margin-left: 2vw;
    height: fit-content;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.postcontainer {
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 2vh;
    position: relative;
}

.nopostcontainer {
    height: 78vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: column;
    flex-direction: column;
}

.postcontainer::-webkit-scrollbar {
    display: none;
}

.favourite-posts::-webkit-scrollbar {
    display: none;
}

.post-margin {
    overflow-y: auto;
}

.channelinfo {
    height: 24vh;
    text-align: center;
    display: flex;
    width: 86vw;
    background: rgba(0, 208, 255, 0.1);
    position: relative;
    z-index: 10;
}

.channelinfo .channel-profile img {
    max-width: 65%;
    max-height: 65%;
}



.big-icon {
    font-size:26px;
    display: block;
    margin-top: 20px;
    text-align: center;
}

.text {
    display: inline;
}

.post-ta {
    word-wrap: break-word;
    margin-right: 2vh;
    height: 80vh;
    width: 44vw;
    overflow-y: auto;
}

.preview {
    word-wrap: break-word;
    margin-left: 2vh;
    height: 80vh;
    width: 44vw;
    overflow-y: auto;
}
.edit-post-header {
    margin-left: 1vw;
    margin-top: 1vh;
}

.post-content {
    max-width: 99vw;
    max-height:90vh;
    word-wrap: break-word;
    overflow-y: auto;
    margin-left: 1vw;
}

.menu-icon {
    font-size: 26px;
    position: absolute;
    right: 2vw;
    bottom: 1vh;
}

.styled-submit {
    border: none;
    margin: 0px;
    padding: 0px;
    width: 14vw;
    height: 8vh;
    text-align: left;
    text-indent: 2px;
    background: rgb(1, 66, 64);
}

.bottom {
    float: bottom;
}

.inline-form {
    display: inline;
}

.unstyle {
    border: none;
    background: none;
    margin: 0px;
    padding: 0px;
}

.postContent img {
    max-width: 75%;
    max-height: 50%;
}

.show-post {
    max-width: 100vw;
    max-height: 79vh;
    overflow-y: auto;
    word-wrap: break-word;
}

.show-post img {
    max-height: 100%;
    max-width: 80%;
}

.text-left {
    text-align: left;
    float: left;
}

.link-button {
    color: blue;
}

a {
    color: #BFEFFF;
}

.container {
    min-width: 100vw;
    min-height: 100vh;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background: white;
    margin: none;
    padding: none;
}

.main-content {
    overflow: hidden;
    text-align: center;
    background: white;
    width: 100%;
    height: 100%;
}

.settings-categories {
    border-bottom: 1px solid darkgray;
    display: flex;
    padding-bottom: 2vh;
    width: 100vw;
}

.settings-description {
    margin-top: 2vh;
    padding-bottom: 1vh;
    border-bottom: 1px solid darkgray;
}

.text-right {
    text-align: right;
    margin-left: 1vw;
}

.add-categories {
    margin-left: 1vw;
    padding-left: 1vw;
    border-left: 1px solid darkgray;
}

.list-margin {
    margin-bottom: 1vh;
}

.categories {
    padding-right: 1vw;
    border-right: 1px solid darkgray;
}

.description-ta {
    word-wrap: break-word;
}

.margin-description {
    margin-right: 1vw;
}

.settings-picture {
    padding-top: 1vh;
    border-top: 1px solid darkgray;
    display: inline-block
}

.channelinfo-buttons {
    
    font-size: 26px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: fit-content;
    display: flex;
    width: fit-content;
}

.channelinfo-info {
    word-wrap: break-word;
    max-width: 30vw;
    padding-left: 1vw;
    padding-right: 1vw;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: fit-content;
}

.card-bottom {
    position: absolute;
    bottom: 0px;
    min-width: 100%;
}

.favourite-posts {
    overflow-y: auto;
    
    max-height: 100vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background: rgba(230, 230, 230, 0.2);
    padding-bottom: 4vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1vh;
    column-gap: 1vw;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 4vh;
}

.channel-creator {
    min-width: 50vw;
}

.subscribed-channels {
    height: 100vh;
    width: 86vw;
	overflow: auto;
	text-align: center;
	align-items: center;
}

.display-flex {
    display: flex;
    width: 100vw;
}

.userconfig {
    height: 100vh;
    overflow-y: auto;
    padding-left: 1vw;
    padding-bottom: 3vh;
}

.profile-search {
    height: 100vh;
    padding-left: 1vw;
    padding-top: 1vh;
    padding-right: 1vw;
    text-align: center;
}

.picture {
    display: inline-block;
}

.user-search {
    height: 10%;
    border-bottom: 1px solid darkgray;
    padding-bottom: 1vh;
    text-align: center;
    vertical-align: middle;
    font-size: 26px;
    padding-top: 1vh;
}

.error-div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 32%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.block {
    display: block
}

.margin-admin {
    margin-bottom: 1vh;
    padding-top: 1vh;
    margin-top: 1vh;
}

.admin-div {
    display:grid;
}

.channelview-container {
    width: 86vw;
    overflow: hidden;
    background: rgba(230, 230, 230, 0.2);
    padding-bottom: 4vh;
    position: relative;
    z-index: 0;
}

.channelview-container::-webkit-scrollbar {
    display: none;
}

.userconfig-div {
    height: 100vh;
    overflow-y: auto;
    margin-left: 1vw;
}

.single-user-config {
    display: inline-block;
    overflow: hidden;
}

.single-user-config-div {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.white {
    background: white !important; 
    color: red !important;
    font-size: 200%; 
}

.card {
    color: black; 
    background: white;
}

.channel-discover {
    height: 6vh;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

#border-bottom {
    border-bottom: 1px soldid black !important;
}

.start-div {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 86vw;
    height: 100vh;
    padding-left: 1vw;
    background: rgba(230, 230, 230, 0.2);
}

.start-container {
    
    width: 84vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    /* border: 1px solid rgba(160, 160, 160, 0.2);
    border-radius: 5px; */
}

.column-width {
    width: 12%;
}

.grid-top-margin {
    padding-top: 4vh;
}

.custom-button {
    background: rgba(92, 148, 147, 0.25) !important;
    height: fit-content;
}

.custom-button:hover {
    background: rgb(0, 81, 78) !important;
    color: white !important;
}

.channelimage-discover {
    max-width: 8vw;
    max-height: 8vh;
}

.card-border {
    border: 1px solid rgba(160, 160, 160, 0.2);
    border-radius: 5px;
}

.custom-shadow:hover {
    box-shadow: 0px 0px 5vh 1vh rgba(92, 148, 147, 1) !important;
}

.custom-shadow:hover .custom-button {
    background: rgb(0, 81, 78) !important;
    color: white !important;
}

.styled-hr {
    width: 40vw;
    margin: auto;
    background: rgba(100, 100, 100, 0.7);
}

.center-h1 {
    margin:auto;
    line-height:50px;
    vertical-align:middle;
}

.subscriptions-head {
    height: 12vh;
    background: rgba(0, 208, 255, 0.1);
    position: relative;
    z-index: 10;
    text-align: center;
}

.head-div {
    height: fit-content;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.channelpost-pagination {
    width: 86vw;
}

.channelview-wrapper {
    max-height: 76vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: auto;

}

.channelview-wrapper::-webkit-scrollbar {
    display: none;
}

.pagination-margin {
    margin-top: 3vh;
}

.infobutton-margin {
    margin-left: 2vw;
}

.newpost-head {
    height: 12vh;
    width: 100vw;
    background: rgba(0, 208, 255, 0.1);
    position: relative;
    z-index: 10;
    text-align: center;
    display: flex;
    
}

.newpost-body {
    width: 100vw;
    padding: 4vh;
    background: rgba(230, 230, 230, 0.2);
}

.newpost-buttons {
    height: fit-content;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.newpost-h1 {
    height: fit-content;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 6vw;
}

.button-margin {
    margin-right: 3vw;
}

.top-sidebar-text {
    height: fit-content;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    word-wrap: break-word;
    max-width: 14vw;
}

.showpost-head {
    height: 12vh;
    width: 100vw;
    background: rgba(0, 208, 255, 0.1);
    position: relative;
    z-index: 10;
    text-align: center;
    display: flex;
    align-items: center;
}

.showpost-body {
    height: 88vh;
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: start;
    padding-top: 3vh;
}

.showpost-button {
    height: fit-content;
}

.showpost-head-button {
    margin-left: 7vw;
}

.showpost-head-info {
    margin-left: 5vw;
    font-weight: bold;
}
