{% extends "defaultLayout.html" %}
{% block title %}Bild hochladen{%endblock%}

{% block content %}
{% if profile %}
<h2>Bild wurde hochgeladen, wähle ein anderes aus, oder &quot;bearbeite&quot; es nach.</h2>
{% else %}
<h2>Bitte wählen Sie die hochzuladene Bilddatei aus.</h2>
{% endif %}
<p>
{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
	{% for message in messages %}
		<li>{{ message }}</li>
	{% endfor %}
	</ul>
	{% endif %}
{% endwith %}
</p>
<form method="post" action="{{ this_url }}" enctype="multipart/form-data">
    <dl>
		<p>
			<input class="form-label form-control" type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input class="btn btn-outline-primary" type="submit" value="Hochladen">
	</p>
</form>

{% if type %}
<p>
	<div class="input-group">
		<label class="input-group-text">Pfad: </label>
		<input class="form-control" type="text" value="{{ path }}" size="100%">
	</div>
	<div class="input-group">
		<label class="input-group-text">Post: (ohne angepasste Größe)</label>
		<input class="form-control" type="text" value="![]({{ path }})" size="100%">
	</div>
	<div class="input-group">
		<label class="input-group-text">Post/HTML (mit angepasster Größe): </label>
	    <input class="form-control" type="text" value="" size="100%" id="img_tag">
	</div>
	<div class="input-group">
		<label class="input-group-text">Größe: </label> 
		<input class="form-control" type="number" value="100" min="0" max="150" step="1" id="num_size"> 
		<label class="input-group-text">%</label>
		<input type="range" value="100" min="0" max="150" step="1" style="{width: 100%;}" id="range_size" />
	</div>
</p>

<script type="text/JavaScript">
	var range = document.getElementById("range_size");
    var numField = document.getElementById("num_size");
    var input = document.getElementById("img_tag");
    var image = document.getElementById("image");

	function write_input() {
        var content = "<img src=\"{{ path }}\"";
        if (numField.value != 100) content += " width=\"" + numField.value.toString() + "%\" height=\"" + numField.value.toString() + "%\"";
		content += " />";
		input.value = content;
		image.style.width = numField.value + "%";
		image.style.height = numField.value + "%";
    }

    window.onload = function() {
		range = document.getElementById("range_size");
    	numField = document.getElementById("num_size");
    	input = document.getElementById("img_tag");
    	image = document.getElementById("image");
 		numField.value = range.value;
 		write_input();
	};

    range.oninput = function() {
      numField.value = this.value;
      write_input();
    }

    numField.oninput = function() {
      range.value = this.value;
      write_input();
    }
</script>
{% endif %}

{% if profile %}
<form method="post" action="{{ this_url }}">
	<p>
		<p>
			<label>Zoomen: </label>
			<br />
			<input type="range" value="100" min="10.000" max="200.000" step="0.001" id="range_size" name="range_size">
		</p>
		<p>
			<label>horizontal Verschieben: </label>
			<br />
			<input type="range" value="0" min="-125.000" max="125.000" step="0.001" id="range_x" name="range_x">
		</p>
		<p>
			<label>vertikal Verschieben: </label>
			<br />
			<input type="range" value="0" min="-125.000" max="125.000" step="0.001" id="range_y" name="range_y">
		</p>
		<input type="submit" value="Übernehmen" name="img_config">
	</p>
</form>

<script type="text/JavaScript">
	var image = document.getElementById("image");
	var zoom = document.getElementById("range_size");
	var x = document.getElementById("range_x");
	var y = document.getElementById("range_y");

	window.onload = function() {
		image = document.getElementById("image");
		zoom = document.getElementById("range_size");
		x = document.getElementById("range_x");
		y = document.getElementById("range_y");
		image.style.width = zoom.value + "%";
		image.style.marginLeft = "0%";
		image.style.marginTop = "0%";
	};

	zoom.oninput = function() {
		image.style.width = this.value + "%";
    }

    x.oninput = function() {
		image.style.marginLeft = this.value + "%";
    }

    y.oninput = function() {
		image.style.marginTop = this.value + "%";
    }

</script>
{% endif %}

{% if path %}
<div{% if profile %} class="profile"{% endif %}>
	<img src="{{ path }}" id="image" />
</div>
{% endif %}
{% endblock %}