{#
	Main Class for all Pages
		- Der Inhalt der Blöcke ist in anderen Seiten dynamisch überschreibbar,
		du musst einfach die äußeren divs hier stylen für globale Struktur
		und in den jeweiligen Datein für lokale
	
		- siehe: https://flask.palletsprojects.com/en/2.0.x/patterns/templateinheritance/
		außerdem "home.html", "login.html" usw
#}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %} - Intectainment</title>
		{% block head %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		{% endblock %}
	   </head>
	<body>
		<header>{% block header %}{% endblock %}</header>
		<div id="content">{% block content %}{% endblock %}</div>
		<div id="footer"> {% block footer %} {% endblock %}</div>
	</body>
</html>