{% extends "baseLayout.html" %}

{% block head %}
    {{ super() }}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/postStyle.css') }}">
  <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.1/dist/showdown.min.js"></script>
{% endblock %}

{% block content %}
    {{super()}}

    {% block navbar %}
  
    <div class="container">
  
        <div class="sidebar">
            {% block navbar_tabs %}
<!-- 
            <div class="container-fluid">
                <div class="row flex-nowrap">
                    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                            <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                                <span class="fs-5 d-none d-sm-inline">Menu</span>
                            </a>
                            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                                <li class="nav-item">
                                    <a href="#" class="nav-link align-middle px-0">
                                        <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                        <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0 align-middle">
                                        <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                                </li>
                                <li>
                                    <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                        <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
                                </li>
                                <li>
                                    <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                        <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0 align-middle">
                                        <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                                </li>
                            </ul>
                            <hr>
                            
                        </div>
                    </div>
                    </div>
            </div>
            -->

            <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column width">
                <ul class="nav flex-column text-white w-100">
                    <a class="nav-link h3 text-white my-2">
                        Navigation
                    </a>
                    <a href="/home/dashboard">
                        <li class="nav-link tablinks" onClick="openTab(event, '1')">
                            <span class="mx-2">Übersicht</span>
                        </li>
                    </a>
                    <a href="/home/discover">
                        <li class="nav-link tablinks" onClick="openTab(event, '2')">
                            <span class="mx-2">Entdecken</span>
                        </li>
                    </a>
                    <a href="/home/userchannel">
                        <li class="nav-link tablinks" onClick="openTab(event, '3')">
                            <span class="mx-2">Mein Kanal</span>
                        </li>
                    </a>
                    <form method="post" action="{{url_for('interface.login')}}">
                        <label>Login</label>
                        <input type="text" placeholder="Nutzername" name="username" required/>
                        <input type="password" placeholder="Passwort" name="password" required/>
                        <input type="submit"/>
                    </form>

                    <form method="post" action="{{url_for('interface.logout')}}">
                        <label>Logout</label>
                        <input type="submit" value="Logout"/>
                    </form>
                </ul>
              </div>
                
<!--
        <div id="tab">
            <button type="button" class="btn btn-outline-primary tablinks first-tablink" onClick="openTab(event, '1')">
                Übersicht
            </button>
        </div>
    
        <div id="tab">
            <button type="button" class="btn btn-outline-primary tablinks" onClick="openTab(event, '2')">
                Entdecken
            </button>
        </div>
    
        <div id="tab">
            <button type="button" class="btn btn-outline-primary tablinks" onClick="openTab(event, '3')">
                Mein Kanal
            </button>
        </div>-->
            {%endblock%}
        
        <div class="sidebar-content">
            {% block maincontent %}{%endblock%}
        </div>
    </div>
        

    
    

<script>
   
    
    </script>

    {% block js %}{%endblock%}
    

{% endblock %}



</div>

</div>



{%endblock%}