{% extends "defaultLayout.html" %}

{% macro nav_link(endpoint, text) %}
<a href="{{url_for(endpoint)}}">
    <li class="nav-link tablinks">
        <span class="mx-2">{{text}}</span>
    </li>
</a>
{% endmacro %}

{%block body%}
    <div class="sidebar">
        <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column width">
                <ul class="nav flex-column w-100">
                    <a href="{{url_for('gui.home')}}" class="nav-link h3 my-2 text-white">
                        Navigation
                    </a>

                    {%if user%}
                    {{ nav_link('gui.dashboard', 'Übersicht')}}
                    {%endif%}

                    {{ nav_link('gui.discover', 'Entdecken')}}

                    {%if user%}
                    {{ nav_link('gui.handle_subscriptions', 'Abonnierte Kanäle')}}

                    {{ nav_link('gui.favorites', 'Favoriten')}}
                    {%endif%}

                    {%if user%}
                    <form method="post" action="{{url_for('interface.logout')}}" class="align-bottom">
                            <input class="nav-link styled-submit" type="submit" value="Logout"/>
                    </form>
                    {%else%}
                    <!--
                    <form method="post" action="{{url_for('interface.login')}}">
                        <label>Login</label>
                        <input type="text" placeholder="Nutzername" name="username" required/>
                        <input type="password" placeholder="Passwort" name="password" required/>
                        <input type="submit"/>
                    </form>
                    -->
                    <a href="{{url_for('gui.start')}}" class="bottom-sidebar">
                        <li class="nav-link tablinks">
                            <span class="mx-2">Login</span>
                        </li>
                    </a>
                    {%endif%}
                </ul>
        </div>
    </div>

    <div id="content" class="sidebar-content">{% block content %}{% endblock %}</div>
{%endblock%}