{#
    URL: /home/dashboard
#}

{% extends "defaultLayout.html" %}

{% block title %}Dashboard{%endblock%}

{% block maincontent %}
{%if favs.total > 0%}
    {%for post in favs.items%}
        <div class="card bg-dark text-white" id="touch">
            <div class="card-text postContent">
{% for line in post.getContentLines()[:5]%}{{line}}{%endfor%}
            </div>
            <a href="{{url_for('gui.postView', postid=post.id)}}" class="btn btn-outline-primary">Zum Post</a>
        </div>
    {%endfor%}
    {%else%}
        <p> Es gibt noch keine gemerkten Posts. </p>
{%endif%}
{%endblock%}
{% block js %}
<script>
    var converter = new showdown.Converter();
    var contents = document.getElementsByClassName('postContent');

    for (var i = 0; i < contents.length; i++) {
        var target = contents.item(i);
        target.innerHTML = converter.makeHtml(target.innerHTML);
    }
</script>
{%endblock%}