{#
URL: /home/dashboard
#}

{% extends "sidebarLayout.html" %}

{%block title%}Dashboard{%endblock%}

{%block head%}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/postStyle.css') }}">
<script src="https://cdn.rawgit.com/showdownjs/showdown/1.9.0/dist/showdown.min.js"></script>
{%endblock%}


{%block content%}
<div class="favourite-posts grid-container">
    {%if favs.total > 0%}
    {%for post in favs.items%}
    <!-- <div class="card post-margin card-border shadow" id="touch">
            <div class="card-text">
            <div class="postContent">
            {% for line in post.getContentLines()[:5]%}{{line}}{%endfor%}
            </div>
            <a href="{{url_for('gui.postView', postid=post.id)}}" class="btn btn-outline-light text-dark custom-button w-100">Zum Post</a>
        </div> 
        </div> -->
    <div class="card shadow custom-shadow">
        <div class="card-body">
            <h5 class="card-title postContent">{% for line in post.getContentLines()[:1]%}{{line}}{%endfor%}</h5>
            <p class="card-text postContent">{% for line in post.getContentLines()[:5]%}{{line}}{%endfor%}</p>
            <a href="{{url_for('gui.postView', postid=post.id)}}"
                class="btn btn-outline-light text-dark custom-button">Zum Post <i class="bi bi-arrow-right"></i></a>
        </div>
    </div>
    {%endfor%}
    {%else%}
    <p> Es gibt noch keine gemerkten Posts. </p>
    {%endif%}
</div>
{%endblock%}


{% block js %}
<script>
    var converter = new showdown.Converter();
    var contents = document.getElementsByClassName('postContent');

    for (var i = 0; i < contents.length; i++) {
        var target = contents.item(i);
        target.innerHTML = converter.makeHtml(target.innerHTML);
    }
</script>
{%endblock%}