{#
    URL: /dashboard
#}

{% extends "defaultLayout.html" %}
{% block title %}Dashboard{%endblock%}

{% block content %}

{%if favs%}
    <p> Gefundene Posts: </p>

    {%for post in favs%}
        <div class="card bg-dark text-white" style="width: 12rem;" id="touch">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-content">{{post.getContent()[0]}}</p>
              <a href="{{post.getFilePath}}" class="btn btn-outline-primary">Zum Post</a>
            </div>
        </div>
    {%endfor%}
    

{%else%}
  <p>Sie haben noch keine gemerkten Posts.</p>
{%endif%}

<script>
  var targets = document.getElementsByClassName("card-content");

  for(i = 0; i < target.length; i++){
    var converter = new showdown.Converter();
    var converter = new showdown.Converter({tables: true, strikethrough: true, tasklists: true});

    targets[i].innerHTML = converter.makeHtml(target[i].innerHTML);
  }
  
</script>

<script type="module">
    import interact from 
    'https://cdn.interactjs.io/v1.10.11/interactjs/index.js'

interact('.draggable')
  .draggable({
    // 
    inertia: true,
    // keep the element within the area of it's parent
    modifiers: [
      interact.modifiers.restrictRect({
        restriction: 'parent',
        endOnly: true
      })
    ],
    // enable autoScroll
    autoScroll: true,

    listeners: {
      // call this function on every dragmove event
      move: dragMoveListener,

      // call this function on every dragend event
      
    }
  })

function dragMoveListener (event) {
  var target = event.target
  // keep the dragged position in the data-x/data-y attributes
  var x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx
  var y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy

  // translate the element
  target.style.transform = 'translate(' + x + 'px, ' + y + 'px)'

  // update the posiion attributes
  target.setAttribute('data-x', x)
  target.setAttribute('data-y', y)
}

// this function is used later in the resizing and gesture demos
window.dragMoveListener = dragMoveListener
</script>

{%endblock%}
