{%extends "sidebarLayout.html"%}
{%block title %}Dashboard{%endblock%}


{%block head%}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/postStyle.css') }}">
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.1/dist/showdown.min.js"></script>
{%endblock%}

{%block content%}
{{super()}}

{%if favs and favs|length > 0 %}
<div class="favourite-posts row row-cols-1 row-cols-md-3">
    <!-- Marked posts -->
    {% for post in favs %}
    <div class="col">
            <div class="card bg-dark text-white post-margin border-light border-1" id="touch">
                <div class="card-text">
                <div class="post-preview postContent">
{% for line in post.getContentLines()[:5] %}{{line}}{%endfor%}
                </div>
                <a href="{{url_for('gui.postView', postid=post.id)}}" class="btn btn-outline-primary w-100">Zum Post</a>
                </div>
            </div>
        </div>
    {%endfor%}   

{%else%}
  <p>Sie haben noch keine gemerkten Posts.</p>
{%endif%}
</div>
{%endblock%}

{% block js %}
<script>
    var converter = new showdown.Converter();
    var convertPosts = document.getElementsByClassName('post-preview');

    for (var i = 0; i < convertPosts.length; i++) {
        var target = convertPosts[i];
        console.log(target.innerHTML);
        target.innerHTML = converter.makeHtml(target.innerHTML);
    }
</script>
{%endblock%}
