{%extends "sidebarLayout.html"%}
{%block title %}Dashboard{%endblock%}


{%block head%}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/postStyle.css') }}">
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.1/dist/showdown.min.js"></script>
{%endblock%}

{%block content%}
{{super()}}

{%if favs and favs|length > 0 %}
    <hr/>
    <!-- Marked posts -->
    {% for post in favs %}
            <div class="card bg-black text-white post-margin" style="width: 12rem;" id="touch">
                <div class="card-text post-preview">
{% for line in post.getContentLines()[:5] %}{{line}}{%endfor%}
                </div>
                <a href="{{url_for('gui.postView', postid=post.id)}}" class="btn btn-outline-primary">Zum Post</a>
            </div>
    {%endfor%}   

{%else%}
  <p>Sie haben noch keine gemerkten Posts.</p>
{%endif%}

{%endblock%}

{% block js %}
<script>
    var converter = new showdown.Converter();
    var convertPosts = document.getElementsByClassName('post-preview');

    for (var i = 0; i < convertPosts.length; i++) {
        var target = convertPosts[i];
        console.log(target.innerHTML);
        target.innerHTML = converter.makeHtml(target.innerHTML);
    }
  </script>
{%endblock%}
