{#
    URL: /home/subscriptions
#}

{% extends "sidebarLayout.html" %}
{% block title %}Abonnierte Kanäle{% endblock %}

{% block content%}

<div class="subscribed-channels">
    
    <h1>Abonnierte Kanäle:</h1>
{% for channel in channels %}
    <a class="no-decoration" href="{{url_for('gui.channelView', channel=channel.name)}}">
        <div class="blog">
            <img src="{{ channel.getProfileImagePath() }}"/>
            <span class="channel-discover btn btn-outline-light text-dark custom-button">{{channel.name}}</span>
        </div>
    </a>
{% endfor %}
</div>
{% endblock %}