{#
    URL: /home/subscriptions
#}

{% extends "sidebarLayout.html" %}
{% block title %}Abonnierte Kanäle{% endblock %}

{% block content%}

<div class="subscribed-channels">
    
    <h1>Abonnierte Kanäle:</h1>
{% for channel in channels %}
    <a href="{{url_for('gui.channelView', channel=channel.name)}}">
        <div class="blog w-50">
             
                <img src="{{ channel.getProfileImagePath() }}" class="profile_image" />
                <span class="btn btn-outline-info border-0">{{channel.name}}</span>
            
        </div>
    </a>
{% endfor %}
</div>
{% endblock %}